# Visual Studio
.vs/
*.user
*.suo

# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Logs
*.log

# OS
.DS_Store
Thumbs.db
